<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/66395648-b539-47a3-9dd6-e3f9da2ca24c/resourceGroups/acronym/providers/Microsoft.Web/sites/boboddyv2-api</ResourceId>
    <ResourceGroup>acronym</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://boboddyv2-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>boboddyv2-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>boboddyv2-api</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$boboddyv2-api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>